:root {
    --bg-color: #19608C;
    --link-color: #FFFFFF;
    --link-hover-color: ;
    --pink-color: #FF0760;

    --primary-font: 'objektiv-mk2', sans-serif;
    --main-text-color: #000000;

    --white-space: 1.2rem;
}

body {
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 18px;
    position: absolute;
    width: 100vw;
}


.contact-us {
    grid-area: title2;
    color: var(--link-color);
    font-weight: 900;
    width: 60%;
}
.img-team{
    max-width: 28%;
}

.team-container {
    grid-area: pic;
    margin-bottom: 2rem;
}

.team-pictures {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.questions-text {
    grid-area: txt;
}


/*MOBILE VIEW*/
@media only screen and (max-width: 899px) {
    nav.open > ul{
        padding: 0;
    }

    main {
        margin: 2rem;
       display: flex;
       flex-direction: inline;
    }
    .img-team {
        width: 8rem;
        height: auto;
        padding-right: .5rem;
        padding-bottom: .5rem;
        justify-content: center;
    }
    .team-pictures{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    #contact_form > h4.short {
        width:90%;
    }
    .img-team{
        width: 45%;
        max-width: 200px;
        max-height: 200px;
    }

    .questions-text {
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 1.4rem;
        font-weight: 900;
        width: 85%;
    }

    .hidden {
        display: none;
    }
}

/*TABLET VIEW */

@media only screen and (min-width: 900px) and (max-width:1199px) {
    section {
      display: flex;
      justify-content: space-between; 
      padding-right: 3rem;
    }

    .img-team {
        display: flex;
        flex-direction: row;
        width: 22vw;
        height: auto;
        padding-right: .5rem;
        padding-bottom: .5rem;

    }
    main{
        height: 100vh;
    }

}



/*BIG SCREEN*/
@media only screen and (min-width: 1200px) {
    section {
        display: flex;
        justify-content: space-between;
        padding-right: 3rem;
      }
      article#team-container{
        max-width: 45vw;
      }

    .img-team {
        width: 12vw;
        height: auto;
        padding-right: .5rem;
        padding-bottom: .5rem;

    }
    main{
        height: 100vh;
    }
}
